In [1]:
import pandas as pd
import numpy as np

In [2]:
#import data
df = pd.read_csv(r'C:\Users\maest\Desktop\bestsellers with categories.csv')

#check numeric columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [3]:
def outlier_detect(df,col):
    #1. and 3. quantiles
    Q1 = np.quantile(df[col], 0.25)
    Q3 = np.quantile(df[col], 0.75)

    #IQR
    IQR = Q3 - Q1

    #outlier limits
    low_lim = Q1 - 1.5 * IQR
    up_lim = Q3 + 1.5 * IQR

    #get outliers
    out_vals = df[(df[col] < low_lim)
                | (df[col] > up_lim)]

    return out_vals

price_outlier = outlier_detect(df, 'Price')
print('Number of outliers: ', len(price_outlier))
price_outlier.head(3)

Number of outliers:  31

,Name,Author,User Rating,Reviews,Price,Year,Genre
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,32,2011,Non Fiction
69,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,4.5,6679,105,2013,Non Fiction