In [1]:
import pandas as pd

#let's look our data
df = pd.DataFrame({
    "A":["0,3", "3,4", "8,4"],
    "B": ["1,2", "6,4", "3,1"],
    "C": ["a","b","c"]
})
df

     A    B  C
0  0,3  1,2  a
1  3,4  6,4  b
2  8,4  3,1  c

In [2]:
#we want to convert the values
#in A and B to dot-seperated
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      object
 1   B       3 non-null      object
 2   C       3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [3]:
#also dtype to float64
def convert_float(series):
    """
    for loop to access
    values and their indexes
    """
    for count, i  in enumerate(series):
        """
        try, except to prevent missing
        data from throwing an error
        """
        try:
            """
            separating them with commas
            and assigning the right
            and left parts to a variable
            """
            a,b = map(str, i.split(","))

            """combining two parts"""
            a = a + '.'+ b
            i = a

            """change values in series"""
            series[count] = a
            series = \
                series.astype(float,
                 errors = 'raise')

            return series
        
        except:
            pass

"""
now let's send our 
columns to the function
"""


df["A"], df["B"], =\
     convert_float(df["A"]),\
      convert_float(df["B"])

In [4]:
df

     A    B  C
0  0.3  1.2  a
1  3.4  6.4  b
2  8.4  3.1  c

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       3 non-null      object
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes

In [ ]:
"""
as you can see the values are
converted and the datatype is float64

thanks for watching
"""