In [3]:
import pandas as pd 
import numpy as np

In [4]:
#import data
df = pd.read_csv(r'C:\Users\maest\Desktop\bestsellers with categories.csv')

#check numeric columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [5]:
def z_score_outliers(df, col):
    mean = np.mean(df[col].values)
    std = np.std(df[col].values)

    threshold = 3

    z = (df[col]-mean) /std

    return df[z > threshold]

price_outliers = z_score_outliers(df, 'Price')

print('Number of outliers:', len(price_outliers))
price_outliers.head(3)

Number of outliers: 16

,Name,Author,User Rating,Reviews,Price,Year,Genre
69,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,4.5,6679,105,2013,Non Fiction
70,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,4.5,6679,105,2014,Non Fiction
151,Hamilton: The Revolution,Lin-Manuel Miranda,4.9,5867,54,2016,Non Fiction

In [ ]:
#thanks for watching