In [1]:
import pandas as pd

In [2]:
ts = pd.DataFrame(
    [3,7,5,4,3,2,1,3,2],
    columns = ['ts']
)

In [3]:
ts

   ts
0   3
1   7
2   5
3   4
4   3
5   2
6   1
7   3
8   2

In [4]:
shifted_ts = pd.DataFrame(
    ts.shift(-1)
)

new_ts = pd.concat(
    [ts, shifted_ts],
    axis = 1
)

new_ts.columns = ['ts', 'ts+1']
new_ts

   ts  ts+1
0   3   7.0
1   7   5.0
2   5   4.0
3   4   3.0
4   3   2.0
5   2   1.0
6   1   3.0
7   3   2.0
8   2   NaN